---
import MarqueeText from '@components/MarqueeText.astro'
import Layout from '../layouts/Base.astro'
import { Picture } from 'astro:assets'

import dude from '@assets/special-dude.png'
import footer from '@assets/footer.png'

const title = 'Stinky Ballz, Just For You',
	description =
		'The site made just for stinky ballz lovers. The stinkier the better!'
---

<style is:global>
	body {
		overflow: hidden;
	}
	#content {
		grid-template-rows: min-content min-content auto;
		min-height: 100vh;
	}
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
</style>

<Layout description={description} title={title}>
	<MarqueeText text='Dripping down my stinky balls' />
	<section style={{ textAlign: 'center', paddingBlock: '4em' }}>
		<h1 class='h2'>Extra Stinky</h1>
		<p>Just for the birthday boy!</p>
		<div
			style={{
				backgroundColor: 'var(--color-accent)',
				borderRadius: '2em',
				padding: '1em',
				marginBlockStart: '1em'
			}}
		>
			<p class='h2' style={{ textAlign: 'right', marginInline: '1rem' }}>
				Pee-Yew!
			</p>
			<Picture
				src={dude}
				alt='Special Dude'
				formats={['avif', 'webp', 'png']}
				width='150'
			/>
		</div>
	</section>
	<footer style={{ gridColumn: '1 / -1' }}>
		<Picture
			src={footer}
			alt='Brody in a ball pit with a big smile'
			formats={['avif', 'webp', 'png']}
			style={{ width: '100%' }}
		/>
	</footer>
</Layout>
