---
import { Button } from '@components/ui'

type SkipLinkProps = {
	href: string
	id: string
	text: string
}

const { href, text, ...attrs } = Astro.props as SkipLinkProps
---

<style>
	.skip-links {
		position: absolute;
		padding: 10px;
		z-index: 1000;
	}

	.skip-links:not(:focus-within) {
		left: -9999px;
	}
</style>

<div class='skip-links'>
	<Button
		href={href}
		class='skip-link'
		text={text}
		icon='fluent:skip-forward-tab-24-filled'
		variant='outline'
		{...attrs}
	/>
</div>
